---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts List -->
	{%- for _post in _posts -%}
		{%- capture _title -%}
			<a href="{{- _post.url | absolute_url -}}"><h2 id="article_header">{{- _post.title -}}</h2></a>
		{%- endcapture -%}
		{%- capture _subtitle -%}
			<p id="article_contents">
			{% if _post.author -%}{{- _post.author }} | {% endif %}
			 {{- _post.date | date_to_long_string -}}
			</p>
		{%- endcapture -%}
		{%- capture _excerpt -%}<p id="article_contents">{{- _post.excerpt | strip_html | truncatewords: 60 -}}</p>{%- endcapture -%}
		{%- capture _link -%}<p id="article_readmore"><a href="{{- _post.url | absolute_url -}}">read more</a></p>{%- endcapture -%}
		{%- assign _content = _excerpt | append: _link -%}
		{%- include section.html title=_title subtitle=_subtitle content=_content -%}
	{%- endfor -%}
</div>